@import "tailwindcss";


/* Weather Backgrounds */
main {
    background-image: url("../img/clear.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


main.clear {
    background-image: url("../img/clear.jpeg");
    background-size: cover;
    background-position: center;
}

main.clouds {
    background-image: url("../img/cloudy.jpeg");
    background-size: cover;
    background-position: center;
}

main.sunny {
    background-image: url("../img/sunny.jpeg");
    background-size: cover;
    background-position: center;
}

main.rain {
    background-image: url("../img/rain.jpeg");
    background-size: cover;
    background-position: center;
}

main.snow {
    background-image: url("../img/snow.jpeg");
    background-size: cover;
    background-position: center;
}

main.mist,
main.haze,
main.smoke {
    background-image: url("../img/mist.jpeg");
    background-size: cover;
    background-position: center;
}

main.thunder,
main.thundery {
    background-image: url("../img/thunder.jpeg");
    background-size: cover;
    background-position: center;
}
